body{
    overflow-x: hidden;
    margin-top: 0%;
    
}

.mainhead{
    margin-right: 4%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#titlehead{
    position: absolute;
    top: 10%;
    font-size: 3vh;
    letter-spacing: 3px;
}
#bigtitlehead{
    position: absolute;
    top: 20%;
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid white;
    padding-left: 3%;
    padding-right: 3%;
}
.bigtexthead{
    position: absolute;
    top: 35%;
    left: 33%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 5vh;
    padding-top: 5%;
}



span::before{
    color: white;
    content: "";
    animation: textslide infinite 8s;
}
@keyframes textslide{
    16.66%{
        content: "UN PAYS MILLENAIRE";
    }

    33.33%{
        content: "DES PAYSAGES PARADISIAQUES";
    }
    40%{
        content: "DES TRADITION PERPETUEES";
    }
    60%{
        content: "GASTRONOMIE LOCALE VARIEES";
    }
    80%{
        content: "DES ANIMAUX FANTASTIQUES";
    }
    100%{
        content: "UN VOYAGE INOUBLIABLE";
    }
}

.foodcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

.food{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35vh;
    padding-right: 35vh;
    padding-bottom: 3.5%;
}

.food img{
    border-radius: 35px;
    margin-right: 30%;
}

.food p{
    padding-top: 4.5%;
    font-style: italic;
    font-size: 2vh;
}

.foodreverse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35vh;
    padding-right: 35vh;
    padding-bottom: 3.5%;
}

.foodreverse img{
    border-radius: 35px;
    margin-left: 30%;
}

.foodreverse p{
    padding-top: 4.5%;
    font-style: italic;
    font-size: 2vh;
}



/* Pas de Js donc impossibilité de l'activer au scroll */
.fadeleft{
    animation: fadeleft 6s both;
    -webkit-animation: fadeleft 6s both;
}

.faderight{
    -webkit-animation: faderight 6s both;
    animation: faderight 6s both;
}

@keyframes fadeleft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX( 0px);
    }

}

@keyframes faderight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX( 0px);
    }

}

.viewscontainer{
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.boxcontainer{
    display: flex;
    flex-direction: row;
}
.box{
    margin-left: 3%;
    margin-top: 5%;
    border: 2px solid black;
    box-shadow: rgb(210 210 249) 4px 4px 0px 0px;
    transition: transform 0.3s;
}

.box:hover{
    margin-left: 3%;
    margin-top: 5%;
    border: 2px solid black;
    box-shadow: none;
    transform: scale(1.01);
}

.boxfooter{
padding-left: 5%;
padding-bottom: 3%;
}

.h1-box{padding-top: 5%;
    margin: 0%;
    margin-top: -1%;
    font-size: 40px;
}

.p-box{
    letter-spacing: 1px;
}

.hr-{
    margin: 0%;
}

a{
    color: black;
}

/* SIDEBAR*/

.sidebar{
    position: absolute;
    left: -250px;
    background-color: #fcb58c;
    height: 100%;
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    transition: all .3s ease;
    z-index: 1;
}

.sidebar ul, .sidebar a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 0%;
}

.header-sidebar{
    background-color: #FFE3D3;
    font-size: 30px;
    letter-spacing: 1px;}

.sidebar ul{
    margin-top: 0%;
    }

.sidebar ul a{
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    border-bottom: 1px solid black;
    transition: 0.3s;
}

ul li:hover a{
    padding-left: 5%;

}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #fcb58c;
    border-radius: 2px;
}

label #btn{
    left: 40px;
    top: 30px;
    font-size: 35px;
    color: #FFE3D3;
    padding: 6px 12px;
    transition: all .3s;
}

label #cancel{
    z-index: 10;
    left: -195px;
    top: 37px;
    font-size: 30px;
    color: #FFE3D3;
    padding: 3px 6px;
    transition: all .3s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 190px;
}

.hrm{
    margin-top: 8%;
}

.sectiontitle{
    text-align: center;
    font-size: 175%;
    margin-top: 5%;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

.test:hover{
    transform: scaleX(1.1)
    scaleY(1.1);
}


.test{
    transition: all .4s ease;
}

.pricecontainer{
    background-color: #CCFCFF;
    height: 900px;
    padding-top: 3%;
}

.formtitle, .traveltitle{
    margin-top: 0%;
    text-align: center;
    font-size: 175%;
    letter-spacing: 2px;
}

tr, td{
    border: 0.5px solid black;
    padding: 50px;
    text-align: center;
}

tr{
    background-color: #afafaf46;
}

thead{
    background-color: #3F48E7;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 24px;
}

table{
    border-collapse: collapse;
    margin-left: 22%;
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

tbody tr:hover{
    background-color: #64646446;
}

tr:nth-child(even){
    background-color: #ffffff;}


.travel{
    background-color: #E8E8FC;
    height: 500px;
    padding-top: 3%;
}

.travelcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
}

.travelcontainercolumn{
    display: flex;
    flex-direction: column;
}

.travelcontainerrow{
    display: flex;
    flex-direction: row;
}

.travelcontainerrow img{
    border-radius: 8px;
    margin-top: 8.5%;
    margin-right: 10%;
}

.travelh1{
    padding-top: 20%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0%;
}

.travelp{
    margin-top: 5%;
    width: 130%;
}

.formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE5F9;
    height: 800px;
    padding-top: 3%;
}

.formulaire{
    background-color: white;
    width: 60%;
    height: 75%;
    margin-top: 5%;
    border-radius: 16px;
    box-shadow: #a5a5a5 4px 4px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire div{
    padding-bottom: 45%;
}

.buttonform {
	background-color:#FFE5F9;
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:15px 49px;
	text-decoration:none;
}
.buttonform:hover {
	background-color:#ffcaf3;
}


.cbutton{
   position: relative;
   bottom: 5%;
   left: 39%;
}

.formphead{
    position: relative;
    left: 39%;
    font-size: 24px;
}

.email{
    position: relative;
    top: 20%;
    left: 28%;
}

#text{
    position: relative;
    left: 3%;
    top: -20%;
}